# cargo
/target

# OS
.DS_Store
.AppleDouble
.LSOverride
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes
.cache
.thumb

# Misc
.env
test.sh
node_modules

# Keep specific folders (.gitkeep helper)
!.gitkeep
